# Dependencies
node_modules

# Next.js
.next/
out/

# Serwist generated
public/sw.js
public/sw.js.map

# Build
dist

# Environment
*.local
.env*.local

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
.history

# OS
.DS_Store
