# Dependencies
node_modules/

# Next.js
.next/
out/

# Serwist
public/sw.js.map

# Build
dist/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
.history/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Debug
.pnpm-debug.log
